@font-face {
  font-family: Trajan;
  src: url('assets/css/fonts/Trajan_Bold.ttf');
}

body {
  font-family: Trajan;
}

.nav-img {
  width: 170px;
  height: 100px;
}


#bgvid {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.instagram {
  color: transparent;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.nav-bg {
  background: none;
}

#bg-img {
  display: none;
}

#bgvid video {
  width: 100%;
}

@media (max-width: 767px) {
  #bgvid {
    display: none;
  }
  #bg-img {
    display: block;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
  }
}
